body {
  margin: 0; }

.overview__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row; }
.overview__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 100%;
  width: 50px;
  height: 50px; }
  .overview__label * {
    font-size: 1rem;
    margin: 0; }
.overview__riser {
  padding: 0;
  list-style-type: none; }
  .overview__riser__floor {
    border-left: 2px solid red;
    border-bottom: 2px solid red; }
    .overview__riser__floor__label {
      margin: 0; }

.riser {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  height: auto;
  overflow-y: auto;
  flex-grow: 1;
  position: relative; }
  .riser__list {
    padding: 0;
    list-style-type: none; }
  .riser__label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    align-items: center;
    align-self: center; }
    .riser__label__top {
      height: 50%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid black;
      width: 100%; }
    .riser__label__bottom {
      height: 50%;
      margin: 0;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
  .riser__label__form {
    position: relative;
    z-index: 3;
    height: 60%; }
  .riser__label__input {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    text-align: center; }
  .riser__label__input::-webkit-inner-spin-button, .riser__label__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.floor {
  border-bottom: 2px solid red;
  height: auto;
  display: flex;
  min-height: 120px;
  position: relative;
  padding-top: 40px; }
  .floor__label {
    margin: 0;
    align-self: flex-end; }
  .floor--active {
    background-color: #dfe6e9; }
    .floor--active .floor__menu__button--edit {
      display: none; }
    .floor--active .floor__menu__button--delete {
      display: inline-block; }
    .floor--active .floor__menu__button--clear {
      display: inline-block; }
  .floor__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin-left: 100px;
    flex-wrap: wrap; }
  .floor__menu {
    position: absolute;
    right: 0;
    top: 0; }
    .floor__menu__button {
      display: none; }
    .floor__menu__button--edit {
      display: inline; }

.fixture {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px; }
  .fixture * {
    margin: 0; }
  .fixture__name {
    font-size: 1rem; }

.floor__label__form {
  align-self: flex-end;
  display: flex;
  flex-direction: column; }
  .floor__label__form label {
    font-size: 2rem; }
  .floor__label__form input {
    font-size: 2rem; }

.focused {
  position: fixed;
  overflow: hidden;
  /* for IE */
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.3);
  /* for real browsers */
  box-shadow: 0 0 0 200vmax rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 2; }

.hidden {
  display: none !important; }

.editor {
  display: flex;
  position: relative;
  overflow-y: hidden;
  height: 100vh; }

.floor-margin-helper {
  margin-top: 100px; }

.editing-area {
  flex-grow: 1;
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }

.add-button {
  min-height: 100px;
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  align-self: flex-end; }
  .add-button:hover {
    cursor: pointer; }

.button--back {
  height: 50px;
  position: absolute;
  top: 50px;
  background-color: #f7f7f7;
  border: none;
  z-index: 4;
  border-radius: 5px; }

.sidebar {
  width: 300px;
  min-width: 300px;
  position: relative;
  top: 0;
  overflow-y: scroll; }
  .sidebar__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
    margin: 0; }
  .sidebar__item {
    width: 45%;
    height: 125px;
    margin: 3px 0; }

.item__button {
  width: 100%;
  height: 100%; }
.item__label {
  font-size: 1rem; }

/*# sourceMappingURL=output.css.map */
